.message-received {
  border: 1px solid whitesmoke;
  padding: 0.3em;
  border-radius: 1em;
  width: fit-content;
  margin-top:0em;
  margin-bottom:0em;
  margin-left: 1em;
  margin-right: 0.25em;
  max-width: 85%;
  min-width: 5%;
  height: fit-content;
  background: #104576;
  font-size: 1em;
}

.message-received p {
  font-size: 1.2em;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
}

.message-received .message-uuid {
  margin-top: 0.125em; // 0.125em is 2px when the font-size is 16px
  font-size: 1em; // 10px is 0.625em
  color:whitesmoke;
  text-align: flex-start;
  justify-content: flex-start;
  display: flex;
}

.message-received .message-uuid p {
  margin-top: 0.125em; // 0.125em is 2px when the font-size is 16px
  font-size: 1em; // 10px is 0.625em
  color:whitesmoke;
  text-align: flex-start;
  justify-content: flex-start;
  display: flex;
  font-style: italic;
}

.message-sent-container {
  justify-content: flex-end;
  display: flex;
}

.message-sent {
  border: 1px solid whitesmoke;
  padding: 0.3em;
  border-radius: 1em;
  width: fit-content;
  margin-top:0em;
  margin-bottom:0em;
  margin-left: 0.25em;
  margin-right: 1em;
  max-width: 70%;
  min-width: 5%;
  height: fit-content;
  background: #373a3d;
  font-size: 1em;
}

.message-sent p {
  font-size: 1.2em;
}

.message-sent .message-uuid {
  margin-top: 0.125em; // 0.125em is 2px when the font-size is 16px
  font-size: 1em; // 10px is 0.625em
  color: whitesmoke;
  text-align: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.message-sent .message-uuid p {
  margin-top: 0.125em; // 0.125em is 2px when the font-size is 16px
  font-size: 1em; // 10px is 0.625em
  color: whitesmoke;
  text-align: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  font-style: italic;
}

.message-container {
  position: relative;
}

.time-ago {
  transition: 1s;
  text-align: flex-end;
  color: whitesmoke;
  margin-top: 0.125em;
}

.time-ago p {
  margin-top: 0.125em; // 0.125em is 2px when the font-size is 16px
  font-size: 1em;
}

@media (max-width: 768px) {
  .message-received {
    width: fit-content;
    margin-top:0em;
    margin-bottom:0em;
    margin-left: 0.5em;
    margin-right: 0.25em;
    font-size: 0.6em;
    max-width: 95%;
    min-width: 1%;
    padding: 0.15em;
  }
  .message-sent {
    width: fit-content;
    margin-top:0em;
    margin-bottom:0em;
    margin-left: 0.25em;
    margin-right: 0.5em;
    font-size: 0.6em;
    max-width: 85%;
    min-width: 1%;
    padding: 0.1em;
  }
}

@media (max-width: 576px) {
  .message-received {
    width: fit-content;
    margin-top:0.25em;
    margin-bottom:0.25em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    font-size: 0.4em;
    max-width: 95%;
    min-width: 1%;
    padding: 0.1em;
  }
  .message-sent {
    width: fit-content;
    margin-top:0.25em;
    margin-bottom:0.25em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    font-size: 0.4em;
    max-width: 85%;
    min-width: 1%;
    padding: 0.1em;
  }
}

@media (max-width: 1275px) {
  .message-received {
    width: fit-content;
    margin-top:0.25em;
    margin-bottom:0.25em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    font-size: 0.8em;
    max-width: 95%;
    min-width: 5%;
    padding: 0.15em;
    text-align: left;
  }
  
  .message-sent {
    width: fit-content;
    margin-top:0.25em;
    margin-bottom:0.25em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    font-size: 0.8em;
    max-width: 85%;
    min-width: 1%;
    padding: 0.15em;
    align-items: center;
    justify-content: center;
    text-align: right;
  }
}