* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
p {
  margin: 0.3em;
  padding: 0%;
}

.container {
  width: 100vw;
  height: 90vh;
  background: #474747;
  position: relative;
  color: whitesmoke;
  z-index: 2;
}

.header {
  margin-top: 1em;
  flex-direction: column;
  justify-content: center;
}

.collection-container {
  margin: 0 1.5em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.reset-button {
  display: flex;
  opacity: 1;
  position:sticky;
  justify-self: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  color: #fff;
  background-color: #333;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: none;
  transition: all 0.3s ease;
}
.reset-button:hover {
  background-color: #444;
}

.reset-button:active {
  background-color: #555;
}

.button {
  color: #fff;
  background-color: #333;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: none;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #444;
}

.button:active {
  background-color: #555;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container p {
  margin: 0;
}

.reset-button, .search-term {
  margin: 1em;
}

.search-term {
  display: block;
  margin-top: 0.5em;
  margin-right: 0.2em;
  margin-bottom: 0.5em;
  color: #fff;
  background-color: #333;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 1px solid #777;
  transition: all 0.3s ease;
}

.chat-container {
  width: 90%;
  height: 80%;
  background: #232323;
  position: absolute;
  border: 1px solid #aaa;
  right: 0%;
  left: 0%;
  top: 0%;
  bottom: 0%;
  margin: 8em auto auto;
  color: whitesmoke;
  z-index: 1;
}

.chat-header {
  width: 100%;
  height: 8.5em;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.chat-photo {
  height: 7em;
  width: 7em;
  border-radius: 50%;
  margin-left: 70px;
  margin-right: 10px;
  object-fit: cover;
}

.chat-body {
  overflow: auto;
  max-height: 50vh;
  overflow: hidden;
  max-width: 100%;
}
  

  
  .chat-body.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .loading-bar {
    margin-top: 5em;
    width: 43em;
    height: 3em;
    border-radius: 10em;
    background-color: #b70e0e;
    animation: loading 3s infinite;
  }
  
  @keyframes loading {
  0% {
  transform: translateX(-165%);
  }
  100% {
  transform: translateX(165%);
  }
  }
  
  @media only screen and (max-width: 1184px) {
  p {
  margin-left: 3em;
  }
  
  .container {
  width: 96%;
  height: 70vh;
  background: #474747;
  position: relative;
  color: whitesmoke;
  z-index: 2;
  margin-left: 0.9em;
  }
  
  .header {
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  }
  
  .collection-container {
  margin: 0 1.5em;
  justify-content: center;
  align-items: center;
  display: flex;
  }
  
  .reset-button {
  display: block;
  opacity: 1;
  position:sticky;
  justify-self: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  color: #fff;
  background-color: #333;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: none;
  transition: all 0.3s ease;
  }
  .reset-button:hover {
  background-color: #444;
  }
  
  .reset-button:active {
  background-color: #555;
  }
  
  .search-container {
    // one after another in a column
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1em;
    position: sticky
  }
  
  .search-container p {
  margin: 0;
  }
  
  .reset-button, .search-term {
  margin-left: 1em;
  }
  
  .chat-container {
  width: 80%;
  height: 80%;
  margin: 0%;
  position: relative;
  }
  
  .chat {
    max-height: 80%;
  }
  
  .chat-body {
  max-height: 50vh;
  max-width: 100%;
  }
  
  .chat-header {
  height: 6.5em;
  }
  
  .chat-photo {
  height: 5em;
  width: 5em;
  margin-left: 1em;
  margin-right: 1em;
  }
  
  .chat-body.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .loading-bar {
    margin-top: 5em;
    width: 43em;
    height: 2.5em;
    border-radius: 10em;
    background-color: #b70e0e;
    animation: loading 3s infinite;
  }
  
  @keyframes loading {
  0% {
  transform: translateX(-165%);
  }
  100% {
  transform: translateX(165%);
  }
  }

}

/* Adding animation to buttons */
.button {
position: relative;
overflow: hidden;
}

.button::after {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255, 0.1);
transform: translateY(100%);
transition: transform 0.4s;
}

.button:hover::after {
transform: translateY(-100%);
}

/* Responsive styles */
@media only screen and (max-width: 1184px) {
  p {
  margin-left: 0.2em;
  }
  
  .container {
  width: 96%;
  height: 70vh;
  background: #474747;
  position: relative;
  color: whitesmoke;
  z-index: 2;
  margin-left: 0.9em;
  }
  
  .header {
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  }
  
  .collection-container {
  margin: 0 1.5em;
  justify-content: center;
  align-items: center;
  display: flex;
  }
  
  .reset-button {
  display: block;
  opacity: 1;
  position:sticky;
  justify-self: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  color: #fff;
  background-color: #333;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: none;
  transition: all 0.3s ease;
  }
  .reset-button:hover {
  background-color: #444;
  }
  
  .reset-button:active {
  background-color: #555;
  }
  
  .search-container {
    // one after another in a column
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1em;
    position: sticky
  }
  
  .search-container p {
  margin: 0;
  }
  .reset-button, .search-term {
    margin-left: 1em;
    }
    
    .chat-container {
    width: 97%;
    height: 97%;
    margin: 0%;
    position: relative;
    }
    
    .chat {
    max-height: 80%;
    }
    
    .chat-body {
    max-height: 50vh;
    max-width: 100%;
    }
    
    .chat-header {
    height: 6.5em;
    }
    
    .chat-photo {
    height: 5em;
    width: 5em;
    margin-left: 1em;
    margin-right: 1em;
    }
    
    .chat-body.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .loading-bar {
      margin-top: 5em;
      width: 43em;
      height: 2em;
      border-radius: 10em;
      background-color: #b70e0e;
      animation: loading 3s infinite;
    }
    
    @keyframes loading {
    0% {
    transform: translateX(-165%);
    }
    100% {
    transform: translateX(165%);
    }
    }
    }

/* Adding animation to buttons */
.button {
  position: relative;
  overflow: hidden;
  }
  
  .button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(100%);
  transition: transform 0.4s;
  }
  
  .button:hover::after {
  transform: translateY(-100%);
  }
  .footer {
    background: #474747;
    margin-top: 0vh;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative
  }

.upload-input {
    margin-bottom: 1em;
    width: 20em;
    background-color: #474747;
    color: #474747;
  }
  
  @media only screen and (min-width: 1184px) {
    .footer {
      background: #474747;
      margin-top: 76.5vh;
      display: inline-block;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      position: relative
    }

.upload-input {
      margin-bottom: 1em;
      width: 20em;
      background-color: #474747;
      color: #474747;
    }

  
  }